/* HEADER */
@media (max-width:1024px){
    .base-btn{
        padding: 0.8em 2.2em;
        min-width: 60%
    }

    .section-heading h1{
        font-size: 1.5em;
        font-weight: 600;
    }

    .section-heading p{
        width: 100%;
    }
    
    .navbar-container{
        padding: 0;
    }
    
    .navbar-items-container{
        display: none;
    }

    .navbar-logo-container img{
        width: 80%
    }

    .login-container .base-btn{
        padding: 0.6em 2em;
    }

    div.hero-text-1 {
        gap: 1em;
    }

    .hero-text-1 h1{
        font-size: 2em;
        font-weight: 600;
    }

    div.hero-text-2{
        width: 95%;
    }

    section.hero-button-container{
        flex-direction: column;
        gap: 1.2em;
    }

    section.hero-img-container{
        overflow: hidden;
    }

    .hero-img-container img{
        width: 150%;
    }
/* end hero section*/ 


/* Features */
section.features-container{
    margin-top: 3rem;
    padding: 1em;
}

.features-img-text-container{
    flex-direction: column;
    gap: 3em;
    width: 100%;
    padding: 1em;
}

.features-img-text-container img{
    width: 100%;
}

.features-card-top img{
    width: 10%;
}






section.contents-container, section.testimonial-container, section.gallery-container, section.partners-container, section.variable-container, .footer-container {
        display: none;
    }




}

/* end HEADER */