/* import worksans fnt from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Work Sans', Arial, sans-serif;
}

/* root */
:root{
    --color-white: #fff;
    --color-light-grey: #f4f4f4;
    --color-black: #000;
    --color-primary: #4452fe;
}

html{
    scroll-behavior: smooth;

}

body {
    font-family: 'Work Sans', sans-serif;
    color: var(--color-white);
    background-color: var(--color-black);
    line-height: 1.5em;
    -webkit-transition: all 0.5s ease;
    transition:  all 0.5s;
}

a{
    text-decoration: none;
    color: var(--color-white);
    -webkit-transition: all 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
}

ul,ol,li{
    list-style: none;
}

ul{
    margin: 0em;
    padding: 0em;
}

button{
    vertical-align: middle;
}



/* HEADER */

.navbar-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    padding-right: 1.8em; /* to balance the other space mad eny the logo in the right side */
 
}

.navbar-logo-container img{
    width: 11em;
}

.navbar-items-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.login-container a{
    border: 1px solid var(--color-white);
    padding: 0.8em 2.6em;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--color-black);
    color: var(--color-white);
}
/* end HEADER */



/* FOOTER */
.footer-container{
    padding: 2em 4em;
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.footer-navbar{
    display: flex;
    flex-direction: row;
    gap: 4em; /* gap between each <ul> */
}

.footer-navbar h4{
    font-weight: bolder;
    font-size: 1em;
    margin-bottom: 0.5em;
}

.footer-navbar ul{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.footer-navbar a{
    color: var(--color-white);
}
.footer-navbar a:hover{
    color: var(--color-primary);
}

.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-contact i{
    margin-right: 0.5em;
}

.footer-contact a{
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
}

.footer-contact a:hover{
    color: var(--color-primary);
}

.footer-socials{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 0.5em;
}

.footer-socials i{
    font-size: 1.6em;
    color: var(--color-white);
    -webkit-transition: all 0.3s ease-in-out;
    transition: 0.3s ease;
}

.footer-socials i:hover{
    color: var(--color-primary);
}
/* end FOOTER */